body {
    font-family: Arial;
}
.wrapper {
    display: grid;

    gap: 20px;
    grid-template-areas: "site-title site-title site-title nav-1 nav-2 nav-3" 
                        "post-title post-title post-title post-title post-title sidebar"
                        "post-meta main-content main-content main-content main-content sidebar"
                        "post-meta main-content main-content main-content main-content sidebar"
                        "post-meta main-content-image main-content-image main-content-image main-content-image ads"
                        "post-meta main-content-image main-content-image main-content-image main-content-image other-stuffs"
                        "footer footer footer footer footer footer";

}

.wrapper div {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: black;
    background-color: purple;
    padding: 75px;
    color: white;
    
}